#game-board {
    height: 600px;
    width: 600px;
    margin: auto;
}

.row {
    display: flex;
    height: 12.5%;
}

.square {
    display: inline-block;
    height: 100%;
    width: 12.5%;
}

.light {
    background-color: #ffc600;
}

.dark {
    background-color: #2f3a3b;
}

.checker {
    height: 75px;
}

.playerOne {
    background-image: url("images/black-plain.png");
    width: 100%;
    height: 100%;
    background-size: contain;
}

.playerTwo {
    background-image: url("images/white-plain.png");
    width: 100%;
    height: 100%;
    background-size: contain;}

.shadow1 {
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.shadow2 {
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.PlayerOneModal {
    height: 20%;
    width: 50%;
    background-color: gold;
    border: 5px solid white;
    transform: translate(50%,50%);
    text-align: center;
    font-size: 40px;
}

.PlayerTwoModal {
    height: 20%;
    width: 50%;
    background-color: gold;
    border: 5px solid white;
    transform: translate(50%,50%);
    text-align: center;
    font-size: 40px;
}

